.btn-first {
    color: #fff;
    background-color: rgb(50, 49, 177);
    border-color: #3231b1;
}

.btn-first:hover {
    color: #fff;
    background-color: #2424a0;
    border-color: #1c1b7d;
}

.btn-first:focus, .btn-first.focus {
    color: #fff;
    background-color: #2424a0;
    border-color: #1c1b7d;
    box-shadow: 0 0 0 0.2rem rgba(49, 48, 179, 0.5);
}

.btn-first.disabled, .btn-first:disabled {
    color: #fff;
    background-color: #3231b1;
    border-color: #3231b1;
}

.btn-first:not(:disabled):not(.disabled):active, .btn-first:not(:disabled):not(.disabled).active,
.show > .btn-first.dropdown-toggle {
    color: #fff;
    background-color: #2424a0;
    border-color: #1c1b7d;
}

.btn-first:not(:disabled):not(.disabled):active:focus, .btn-first:not(:disabled):not(.disabled).active:focus,
.show > .btn-first.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(49, 48, 179, 0.5);
}

.text-first {
    color: #3231b1;

    transition: text-shadow .3s;
}

.text-first:hover, .text-first:active {
    color: #2424a0;
    text-shadow: 0 0 .2rem rgba(49, 48, 179, 0.2);
}