<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Критерий</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    {% if data|length > 0 %}
        {% for row in data %}
            <tr>
                <td>{{ row.vid }}</td>
                <td>
                    <div class="d-flex justify-content-center text-white">
                        {% if row.check_all %}
                            <div class="rounded-circle bg-info">
                                <span aria-hidden="true">&check;</span>
                            </div>
                        {% else %}
                            <div class="rounded-circle bg-danger">
                                <span aria-hidden="true">&cross;</span>
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">Записи отсутствуют</td>
        </tr>
    {% endif %}
    </tbody>

</table>